<!doctype html>
<html lang="en">
{{<base/head}}
  {{$links}}
    <link rel="stylesheet" href="/css/orders.css">
  {{/links}}
  {{$title}}
    Orders
  {{/title}}
{{/base/head}}
<body>
{{>layout/header}}
{{<layout/main}}
  {{$title}}Orders{{/title}}
  {{$content}}
    <div class="orders__controls">
      <a href="/create-order" class="btn btn-primary">Create Order</a>
    </div>
    <table id="orders-table" class="table table-hover">
      <thead>
      <tr>
        <th>Date Created</th>
        <th>ID</th>
        <th>Status</th>
        <th class="text-end">Total</th>
        <th>Customer</th>
      </tr>
      </thead>
      <tbody>
      {{#orders}}
        <tr>
          <td>{{creationDate}}</td>
          <td><a href="/order-details?id={{id}}">{{id}}</a></td>
          <td>{{status}}</td>
          <td class="text-end">{{total}}</td>
          <td>{{customer.name}}</td>
        </tr>
      {{/orders}}
      </tbody>
    </table>
    <div class="d-flex justify-content-center">
      <nav aria-label="order list pages">
        <ul class="pagination">
          {{#paginationLinks}}
            <li class="page-item {{#isCurrent}}active{{/isCurrent}}">
              <a class="page-link" href="{{href}}">{{label}}</a>
            </li>
          {{/paginationLinks}}
        </ul>
      </nav>
    </div>
  {{/content}}
{{/layout/main}}
</body>
</html>

