.orders__form {
    max-width: 960px;
}

.orders__form h2 {
    margin-bottom: 1rem;
}


.orders__form-item {
    margin-bottom: 1.5rem;
}

.orders__form-section {
    padding: 0;
    margin-bottom: 2rem;
}
