.orders__controls {
    display: flex;
    gap: 1.6rem;
}

.order-details__summary {
    list-style: none;
    margin-bottom: 1rem;
    padding: 0;
}

.order-details__summary li {
    margin-bottom: 1rem;
}

.order-details_order-items tfoot th {
    text-align: right;
}
