<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/index.css"/>
  <link rel="stylesheet" href="/css/create-order.css"/>
  <script defer src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
          integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
          crossorigin="anonymous"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js"
          integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y"
          crossorigin="anonymous"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"
          integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz"
          crossorigin="anonymous"></script>
  <script defer src="js/create-order.js"></script>
  <title>Orders</title>
</head>
<body>

{{> header}}

<main>
  <div class="container">
    <h1 class="h5 text-secondary">Create Order</h1>

    <form class="d-flex flex-column gap-4">

      <div class="mt-4">
        <div class="row">
          <h2 class="h4">Customer</h2>
        </div>
        <div class="row gx-3 mt-3">
          <div class="col-3">
            <label class="form-label" for="customer-name">Name</label>
            <input required class="form-control" type="text" name="customerName" id="customer-name">
          </div>
          <div class="col-3">
            <label class="form-label" for="customer-email">Email</label>
            <input class="form-control" type="email" name="customerEmail" id="customer-email">
          </div>
          <div class="col-3">
            <label class="form-label" for="customer-phone">Phone #</label>
            <input class="form-control" type="text" name="phone" id="customer-phone">
          </div>
        </div>
      </div>

      <div class="mt-4">
        <div class="row">
          <h2 class="h4">Shipping Address</h2>
        </div>
        <div class="row mt-3">
          <div class="col-8">
            <label class="form-label" for="address-street">Street</label>
            <input required class="form-control" type="text" name="addressStreet" id="address-street">
          </div>
        </div>
        <div class="row gx-3 mt-3">
          <div class="col-3">
            <label class="form-label" for="address-city">City</label>
            <input required class="form-control" type="text" name="addressCity" id="address-city">
          </div>
          <div class="col-3">
            <label class="form-label" for="address-state">State</label>
            <input required class="form-control" type="text" name="addressState" id="address-state">
          </div>
          <div class="col-3">
            <label class="form-label" for="address-zip">ZIP</label>
            <input required class="form-control" type="text" name="addressZip" id="address-zip">
          </div>
        </div>
      </div>

      <div class="row mt-4">
        <h2 class="h4">Products</h2>
        <div id="product-list" class="d-flex flex-column gap-3 mt-3">
        </div>
      </div>

      <div class="row">
        <div class="d-flex justify-content-start">
          <button id="add-product" type="button" class="btn btn-secondary">Add product</button>
        </div>
      </div>

    </form>

    <div hidden id="product-template" class="card">
      <div class="row gx-3 card-body p-4">
        <div class="col-6 d-flex flex-column">
          <div>
            <label class="form-label product-name-label">Name</label>
            <input required class="form-control product-name-input" type="text" name="productName">
          </div>
          <div class="d-flex gap-3 mt-3">
            <div class="flex-grow-1">
              <label class="form-label product-price-label">Price</label>
              <input required class="form-control product-price-input" type="number" min="0" step=".01"
                     name="productUnitPrice">
            </div>
            <div class="flex-grow-1">
              <label class="form-label product-quantity-label">Qty.</label>
              <input required class="form-control product-quantity-input" type="number" min="0" step="1"
                     name="productQuantity">
            </div>
          </div>
        </div>
        <div class="col-6">
          <label class="form-label product-desc-label">Description</label>
          <textarea class="form-control product-desc-input" rows="3" name="productDesc"></textarea>
        </div>
        <div class="col-12 mt-3 d-flex justify-content-end">
          <button class="btn btn-danger btn-sm btn-delete-product" type="button">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                 class="bi bi-trash-fill" viewBox="0 0 16 16">
              <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
            </svg>
          </button>
        </div>
      </div>
    </div>

  </div>
</main>
</body>
</html>