<!doctype html>
<html lang="en">
{{<base/head}}
  {{$scripts}}
    <script defer src="js/create-order.js"></script>
  {{/scripts}}
  {{$title}}
    Create Order
  {{/title}}
{{/base/head}}
<body>
{{>layout/header}}
{{<layout/main}}
  {{$title}}Create Order{{/title}}
  {{$content}}
    <form class="d-flex flex-column gap-4" action="/orders" method="post">

      <div class="mt-4">
        <div class="row">
          <h2 class="h4">Customer</h2>
        </div>
        <div class="row gx-3 mt-3">
          <div class="col-3">
            <label class="form-label" for="customer-name">Name</label>
            <input required class="form-control" type="text" name="customer.name" id="customer-name">
          </div>
          <div class="col-3">
            <label class="form-label" for="customer-email">Email</label>
            <input class="form-control" type="email" name="customer.email" id="customer-email">
          </div>
          <div class="col-3">
            <label class="form-label" for="customer-phone">Phone #</label>
            <input class="form-control" type="text" name="customer.phone" id="customer-phone">
          </div>
        </div>
      </div>

      <div class="mt-4">
        <div class="row">
          <h2 class="h4">Shipping Address</h2>
        </div>
        <div class="row mt-3">
          <div class="col-8">
            <label class="form-label" for="street-input">Street</label>
            <input required class="form-control" type="text" name="shippingAddress.street" id="street-input">
          </div>
        </div>
        <div class="row gx-3 mt-3">
          <div class="col-3">
            <label class="form-label" for="city-input">City</label>
            <input required class="form-control" type="text" name="shippingAddress.street" id="city-input">
          </div>
          <div class="col-3">
            <label class="form-label" for="state-input">State</label>
            <input required class="form-control" type="text" name="shippingAddress.state" id="state-input">
          </div>
          <div class="col-3">
            <label class="form-label" for="postal-code-input">ZIP</label>
            <input required class="form-control" type="text" name="shippingAddress.postalCode" id="postal-code-input">
          </div>
        </div>
      </div>

      <div class="row mt-4">
        <h2 class="h4">Products</h2>
        <div id="product-list" class="d-flex flex-column gap-3 mt-3">
        </div>
      </div>

      <div class="row">
        <div class="d-flex justify-content-start">
          <button id="add-product" type="button" class="btn btn-secondary">Add product</button>
        </div>
      </div>

      <div class="row mt-4">
        <div class="d-flex justify-content-start">
          <button id="btn-submit" type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>

    </form>

    <div hidden id="product-card-template" class="card shadow border-0">
      <div class="row gx-3 card-body p-4">
        <div class="col-6 d-flex flex-column">
          <div>
            <label class="form-label product-name-label">Name</label>
            <input required class="form-control product-name-input" type="text" name="">
          </div>
          <div class="d-flex gap-3 mt-3">
            <div class="flex-grow-1">
              <label class="form-label product-price-label">Price</label>
              <input required class="form-control product-price-input" type="number" min="0" step=".01"
                     name="">
            </div>
            <div class="flex-grow-1">
              <label class="form-label product-quantity-label">Qty.</label>
              <input required class="form-control product-quantity-input" type="number" min="0" step="1"
                     name="">
            </div>
          </div>
        </div>
        <div class="col-6">
          <label class="form-label product-desc-label">Description</label>
          <textarea class="form-control product-desc-input" rows="3" name=""></textarea>
        </div>
        <div class="col-12 mt-3 d-flex justify-content-end">
          <button class="btn btn-danger btn-sm btn-delete-product" type="button">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                 class="bi bi-trash-fill" viewBox="0 0 16 16">
              <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
            </svg>
          </button>
        </div>
      </div>
    </div>
  {{/content}}
{{/layout/main}}
</body>
</html>