<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" th:href="@{/css/index.css}"/>
  <link rel="stylesheet" th:href="@{/css/orders.css}">
  <title>Order Details</title>
</head>
<body>
<div th:replace="~{header}"></div>
<main>
  <h1>Order <span th:text="${order.id}"></span></h1>
  <ul class="order-details__summary">
    <li>Status: <span th:text="${order.status}"></span></li>
    <li>Customer: <span th:text="${order.customer.name}"></span></li>
    <li>Email: <span th:text="${order.customer.email}"></span></li>
    <li>Phone: <span th:text="${order.customer.phone}"></span></li>
  </ul>
  <table class="order-details__order-items">
    <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Quantity</th>
      <th scope="col">Unit Price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${order.items}">
      <td th:text="${item.name}"></td>
      <td th:text="${item.quantity}"></td>
      <td th:text="${item.unitPrice}"></td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <th scope="row">Total</th>
      <td th:text="${order.total}"></td>
    </tr>
    </tfoot>
  </table>
</main>
</body>
</html>

