<!doctype html>
<html lang="en">
{{<base/head}}
  {{$links}}
    <link rel="stylesheet" href="/css/order-details.css"/>
  {{/links}}
  {{$scripts}}
    <script defer src="/js/order-details.js"></script>
  {{/scripts}}
  {{$title}}
    Order Details
  {{/title}}
{{/base/head}}
<body>
{{>layout/header}}
{{<layout/main}}
  {{$title}}Order Details{{/title}}
  {{$content}}
    <div class="d-flex flex-column gap-3">
      <div class="order-summary__item">
        <div class="fw-bold">ID</div>
        <div class="order-summary__value">{{order.id}}</div>
      </div>
      <div class="order-summary__item">
        <div class="fw-bold">Created</div>
        <div class="order-summary__value">{{order.creationDate}}</div>
      </div>
      <div class="order-summary__item">
        <div class="fw-bold">Status</div>
        <div class="order-summary__value badge rounded-pill bg-warning">{{order.status}}</div>
      </div>
    </div>

    <div class="row">
      <div class="fw-bold">Billed To:</div>
      <div>{{order.customer.name}}</div>
      <div>{{order.shippingAddress.street}}</div>
      <div>{{order.shippingAddress.city}}, {{order.shippingAddress.state}} {{order.shippingAddress.postalCode}}</div>
      <div>{{order.customer.phone}}</div>
      <div>{{order.customer.email}}</div>
    </div>

    <div class="row border-bottom"></div>
    <div class="row">
      <div class="fw-bold col-6">Item</div>
      <div class="fw-bold col-2 text-end">Price</div>
      <div class="fw-bold col-2 text-end">Qty</div>
      <div class="fw-bold col-2 text-end">Amount</div>
    </div>
    {{#order.items}}
      <div class="row">
        <div class="col-6">{{name}}</div>
        <div class="col-2 text-end">{{unitPrice}}</div>
        <div class="col-2 text-end">{{quantity}}</div>
        <div class="col-2 text-end">Amount</div>
      </div>
    {{/order.items}}
    <div class="row border-bottom"></div>
    <div class="row justify-content-end">
      <div class="col-2 text-end fw-bold">Total</div>
      <div class="col-2 text-end">100.00</div>
    </div>

    {{#isNew}}
      <div class="toast-container">
        <div class="toast align-items-center border-0 shadow bg-success-subtle text-success-emphasis p-2" role="alert"
             aria-live="assertive"
             aria-atomic="true">
          <div class="d-flex">
            <div class="toast-body">
              Created new order.
            </div>
            <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
        </div>
      </div>
    {{/isNew}}

    <div class="d-flex flex-column flex-md-row flex-grow-1 align-items-md-end gap-2">
      <a class="btn btn-secondary">
        Edit
        <div class="d-inline"><i class="bi bi-pencil-square"></i></div>
      </a>
      <a class="btn btn-danger">
        Delete
        <div class="d-inline"><i class="bi bi-trash-fill"></i></div>
      </a>
    </div>

  {{/content}}
{{/layout/main}}
</body>
</html>

