<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" th:href="@{/css/index.css}">
  <title>Orders</title>
</head>
<body>
<div th:replace="~{header}"></div>
<main>
  <h1>Orders</h1>
  <table>
    <tr>
      <th>ID</th>
      <th>Status</th>
      <th>Total</th>
      <th>Customer</th>
      <th>Shipping Address</th>
    </tr>
    <tr th:each="order : ${orders}">
      <th th:text="${order.id}"></th>
      <th th:text="${order.status}"></th>
      <th th:text="${order.total}"></th>
      <th th:text="${order.customer.name}"></th>
      <th th:text="${order.shippingAddress.street}"></th>
    </tr>
  </table>
</main>
</body>

</html>